[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "==0.16.1"
flask = "<2.0"
flask-restplus = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "*"
